## Exploratory Data Analysis ##

#### Set up imports for Pandas, Matplotlib, and MySQL Connector ####

In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as connection

#### Use MySQL Connector to establish a connection to my remote data source ####

In [32]:
myremotedb = connection.connect(host = "devcodecamp-mysql.c5p7yvjq1h8y.us-east-2.rds.amazonaws.com", database = "salesdb", user = "root", password = "D3v$tudent", use_pure = True)

#### Query **salesdb** to JOIN the information from the *sales* and *cities* tables and save as a single data frame ####

In [ ]:
joinquery = """SELECT sales.Invoice_ID,
                    sales.Customer_Type,
                    sales.Gender,
                    sales.Product_Line,
                    sales.Unit_Price,
                    sales.Quantity,
                    sales.Sales_Tax,
                    sales.Total,
                    sales.Date,
                    sales.Time,
                    sales.Payment,
                    sales.COGS,
                    sales.Gross_Income,
                    sales.rating,
                    cities.City 
                    FROM sales 
                    JOIN cities 
                    ON sales.City_ID = cities.City_ID"""
joined_df = pd.read_sql_query(joinquery, myremotedb)