## Exploratory Data Analysis ##

#### Set up imports for Pandas, Matplotlib, and MySQL Connector ####

In [131]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as connection

#### Use MySQL Connector to establish a connection to my remote data source ####

In [132]:
myremotedb = connection.connect(host = "devcodecamp-mysql.c5p7yvjq1h8y.us-east-2.rds.amazonaws.com", database = "salesdb", user = "root", password = "D3v$tudent", use_pure = True)

#### Query **salesdb** to JOIN the information from the *sales* and *cities* tables and save as a single data frame ####

In [133]:
joinquery = """SELECT sales.Invoice_ID,
                    sales.Customer_Type,
                    sales.Gender,
                    sales.Product_Line,
                    sales.Unit_Price,
                    sales.Quantity,
                    sales.Sales_Tax,
                    sales.Total,
                    sales.Date,
                    sales.Time,
                    sales.Payment,
                    sales.COGS,
                    sales.Gross_Income,
                    sales.rating,
                    cities.City 
                    FROM sales 
                    JOIN cities 
                    ON sales.City_ID = cities.City_ID"""
joined_df = pd.read_sql_query(joinquery, myremotedb)

C:\Users\Owner\AppData\Local\Temp\ipykernel_420\873594371.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  joined_df = pd.read_sql_query(joinquery, myremotedb)

#### Perform necessary data cleaning and wrangling steps on Joined DataFrame ####

* Explore the information of the DataFrame

In [ ]:
joined_df.head()

* Check for null values

In [ ]:

column_removed_df = joined_df.drop("Sales_Tax", axis =1)

`Sales_Tax column removed`

* Check for duplicates

In [ ]:
column_removed_df.duplicated().sort_values()

`No Duplicates`

* Convert any necessary columns to Panda DateTime format

In [ ]:

column_removed_df["Date"] = pd.to_datetime(column_removed_df["Date"])
column_removed_df["Time"] = pd.to_datetime(column_removed_df["Time"])

`Date and Time columns converted to Panda DateTime format`